<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SqlDbContext" connectionString="Data Source=.;Integrated Security=True;Initial Catalog=dbBAKKAL_Defteri" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>